# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
gradle.properties
.gradle

# other
eclipse
run
.vscode
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_0.jpg
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_1.jpg
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_2.jpg
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_3.jpg
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_4.jpg
/src/main/resources/assets/notenoughupdates/panoramas/deeper_caverns/panorama_5.jpg
